
  <form  [formGroup]="movieForm" (ngSubmit) = "save()">
    <div>
      <mat-form-field>
        <mat-label>Name: </mat-label>
        <input matInput matTooltip="Enter the name of the movie" type="text" name="name" id="name" formControlName="name"   appHighlightOnFocus border="5px solid red"/>
      </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>yearReleased: </mat-label>
      <input matInput type="text" matTooltip="year format: 2005" name="yearReleased" id="yearReleased" formControlName="yearReleased" appHighlightOnFocus border="5px solid red"/>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>director: </mat-label>
      <input matInput type="text" matTooltip="Enter the name of the director" name="director" id="director" formControlName="director" appHighlightOnFocus border="5px solid green" />
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>production Company: </mat-label>
      <input matInput type="text" matTooltip="Enter the name of the company" name="productionCompany" id="productionCompany" formControlName="productionCompany" appHighlightOnFocus border="5px solid red"/>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>image file name: </mat-label>
      <input matInput type="text" name="imageUrl" id="imageUrl" formControlName="imageUrl" appHighlightOnFocus border="5px solid red"/>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>date posted: </mat-label>
      <input matInput type="text" matTooltip="date format: yyyy-MM-dd" name="datePosted" id="datePosted" formControlName="datePosted" appHighlightOnFocus border="5px solid red" />
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <mat-label>price: </mat-label>
      <input matInput type="text" matTooltip="Enter the price of the movie" name="price" id="price" formControlName="price" appHighlightOnFocus border="5px solid red" >
    </mat-form-field>
    </div>
    <button mat-stroked-button matTooltip="click to save the movie" type="submit">Save</button>
  </form>


